.input {
    border: 4px solid #ae7777;
}

/* .show {
   animation: show-item 1s ease-in forwards;
}

.hide {
    animation: hide-item 1s ease-in forwards;
}

/* 动画帧 */
/* @keyframes show-item {
    0% {
        opacity: 0;
        color: green;
    }
    50% {
        opacity: .5;
        color: red;
    }
    100% {
        opacity: 1;
        color: yellow;
    }
}

@keyframes hide-item {
    0% {
        opacity: 1;
        color: yellow;
    }
    50% {
        opacity: .5;
        color: red;
    }
    100% {
        opacity: 0;
        color: green;
    }
}  */

.boss-text-enter {
    opacity: 0;
}

.boss-text-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.boss-text-enter-done {
    opacity: 1;
}
.boss-text-exit {
    opacity: 1;
}
.boss-text-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}
.boss-text-exit-done {
    opacity: 0;
}